<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Enter value:</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> Enter the new value:</ion-label>
    <ion-input type="text" [(ngModel)]="Updatedname"></ion-input>
  </ion-item>

  <br>

  <button ion-button (click) = "addData(name)"> Add </button>
  <button ion-button (click)= "updateData(name, Updatedname)"> Update </button>
  <button ion-button (click)="deleteData(name)">Delete</button>

  <div *ngIf="displayDetail?.length > 0">
    <div *ngFor="let data of displayDetail">
        <h5>{{ data.name }}</h5>
    </div>
  </div>
</ion-content>
